@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@400;500&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    min-height: 90%;
    background-color: #f5f5f5;
    margin: 0;
}

/* Header */
header {
    background-color: #043959;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 20px;
    z-index: 30;
    box-shadow: 0 2px 2px #032d46;
}

.heading {
    display: flex;
    justify-content: space-evenly;
}

header a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 100;
    text-align: center;
    font-size: 80%;
    padding-right: 5px;
}

/*Navigation Styles*/

.nav-burger-label {
    padding-top: 20px;
    padding-right: 40px;
    font-size: 150%;
    color: #f5f5f5;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #043959;
    margin-left: 5px;
    margin-top: -10px;
    width: 130px;
    padding: 0px 0px 5px 5px;
    line-height: 25px;
    box-shadow: 0 3px 3px 0 #032d46;
    position: absolute;
    display: none;
}

#navcheckbox {
    display: none;
}

#navcheckbox:checked~nav {
    display: block;
}

ul {
    list-style-type: none;
}


/* Landing page */

.homepage {
    position: relative;
    min-height: 80vh;
    top: 10vh;
    left: 0;
    width: 100%;
}

.hero-image {
    background: url(../images/woods-image.jpg) no-repeat center/cover;
    min-height: 90vh;
}

.homepage-boxes {
    position: relative;
    top: 10vh;
    bottom: 10vh;
    margin: 0 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.homepage-boxes > a {
    text-decoration: none;
}

.nav-links-homepage {
    background-color: rgb(4, 57, 89, 0.8);
    color: #f5f5f5;
    text-align: center;
    height: 20vh;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 90%;
}

/*Class section styles*/

.classes {
    background-color: #f5f5f5;
    color: #043959;
    text-align: center;
}

.class-sections {
    margin-top: 50px;
    padding: 20px 0;
}

img {
    margin-top: 70px;
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
    max-height: 250px;
    max-width: 250px;
}

.class-times {
    background-color: rgba(4, 57, 89, 0.9);
    color: #f5f5f5;
}

.class-times,
th,
td,
tr {
    border: 2px solid #f5f5f5;
    border-collapse: collapse;
    font-size: 90%;
}

p {
    padding: 0 20px;
    font-size: 80%;
}

.class-times {
    width: 80vw;
    margin-left: 10vw;
    max-width: 300px;
}


#mindfulness {
    background-color: #d3d3d9;
}

/*Form Styles*/

.woods-img {
    background-image: url(../images/woods-image.jpg);
}

.form-box {
    position: relative;
    background-color: rgba(211, 211, 217, 0.8);
    color: #043959;
    padding: 30px 10px 10px;
}

.form-box > div {
    padding: 5px;
}

.contact {
    background-color: #d3d3d9;
    color: #043959;
    text-align: center;
    padding: 10px;
}

.input-text {
    background-color: rgb(255, 255, 255, 0.4);
    border: 1px solid #043959;
    padding: 3px;
    color: #043959;
    width: 90%;
}

.join {
    display: flex;
    justify-content: center;
}

.join-button {
    height: 40px;
    width: 100px;
    background-color: #043959;
    color: #f5f5f5;
    border: 2px solid #032d46;
    cursor: pointer;
}

.checkbox {
    font-size: 75%;
}

#contactinfo h3 {
    text-align: center;
    font-size: 1.5rem;
}

/*Footer Styles*/

footer {
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    position: relative;
}

footer a {
    font-size: 105%;
    color: #043959;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

/*CSS for screens over 768px*/
@media screen and (min-width: 768px) {

    body {
        letter-spacing: 2px;
    }

    header {
        box-shadow: 0 0 0 0;
        display: block;
        padding-bottom: 20px;
    }

    .heading {
        display: block;
    }

    header a {
        font-size: larger;
        font-stretch: extra-expanded;
        letter-spacing: 3px;
        text-align: center;
    }

    nav {
        display: block;
        position: relative;
        padding: 0;
        box-shadow: 0 0 0 0;
        margin: -20px 0 0;
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-burger-label {
        display: none;
    }

    .homepage-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-links-homepage {
        height: 275px;
        width: 275px;
        margin-top: 50px;
        padding: 15px 30px;
    }

    .nav-links-homepage h2 {
        font-size: 200%;
    }

    .nav-links-homepage p {
        font-size: 105%;
        font-style: normal;
        padding-top: 30px;
    }

    p {
        padding: 0 30px;
        font-size: 90%;
    }

    .timetable {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .class-times {
        line-height: 30px;
        font-size: 110%;
        width: 25vw;
        margin-left: 30px;
        margin-bottom: 40px;
    }

    #contactinfo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        background-color: #d3d3d9;
    }

    .form-box {
        width: 50vw;
        background-color: rgba(211, 211, 217, 0.8);
        color: #043959;
        font-size: 100%;
    }

    .contact {
        font-size: 120%;
        line-height: 30px;
        padding-top: 50px;
    }
}

/*Media Screens over 1100px*/

@media screen and (min-width: 1100px) {

    nav {
        margin-top: -50px;
    }

    #logo {
        font-size: 2em;
    }

    .nav-links-homepage {
        height: 20vw;
        width: 20vw;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-top: 17vh;
    }
}