body {
    min-height: 100%;
    margin: 0;
    font-family: sans-serif;
}

/* Header */
header {
    background-color: #043959;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px #032d46;

}

header a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 100;
    font-family: 'Raleway' sans-serif;
}


#logo {
    text-align: center;
    font-size: 200%;

}
/* Main Homepage */
#homepage, #formpage {
    position: relative;
    min-height: 80vh;
    top: 10vh;
    left: 0;
    width: 100%;
}

#hero-image {
    background: url(../images/pexels-pixabay-247421.jpg) no-repeat center/cover;
    min-height: 85vh;
}
#homepage-boxes {
    position: relative;
    top: 8vh;
    bottom: 10vh;
    margin: 0 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

#homepage-boxes a {
    text-decoration: none;
}

.nav-links-homepage {
    background-color: rgb(4, 57, 89, 0.8);
    color: #f5f5f5;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 90%;

}
/*Class section styles*/

#class-sections {
    background-color: #f5f5f5;
    color:#043959;
    margin-top: 40px;
    padding: 50px 0;
    text-align: center;
}


img {
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
    max-height: 250px;
    max-width: 250px;
}


.class-times, td, th, tr {
    background-color:rgba(4, 57, 89, 0.7);
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-collapse: collapse;
    font-size: 90%;
}

p {
    padding: 0 20px;
    font-size: 90%;
}

.class-times {
    width: 80vw;
    margin-left: 10vw;
    max-width: 300px;
}

#yoga, #mindfulness, #retreats {
    margin-top: 50px;
    padding: 20px 0;
}


#mindfulness {
    background-color: #d3d3d9;
}



/*Form Styles*/

#form-box {

    position: relative;
    top: 5vh;
    bottom: 10vh;
    margin: 0 10px;
    color: #ffffff;
    background-color: rgba(4, 57, 89, 0.7);
    padding-bottom: 10px;

}

#form-box p {
    padding: 4px 10px;
    font-size: 90%;
}

.input-text {
    background-color: rgb(255, 255, 255, 0.4);
    border: 1px solid #043959;
    padding: 3px;
    color: #ffffff;
    width: 90%;

}

.input-select {
    background-color: rgb(255, 255, 255, 0.4);
    border: 1px solid #043959;
    padding: 3px;
    color: #ffffff;
    width: 50%;

}

.join-button {
    height: 40px;
    width: 100px;
    background-color: #032d46;
    color: #ffffff;
    border: 2px solid #ffffff;

}

.checkbox {
    font-size: 75%;
}


footer {
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    position: fixed;

}

footer a {
    font-size: 105%;
    color: #043959;

}

#footer-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

/*CSS for screens over 768px*/
@media screen and (min-width: 768px) {

    body {
        letter-spacing: 2px;
    }

    header a {
        font-size: larger;
        font-stretch: extra-expanded;
        letter-spacing: 3px;
    }

    #homepage-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-links-homepage {
        height: 275px;
        width: 275px;
        margin-top: 50px;
        padding: 15px 30px;
    }

    .nav-links-homepage h2 {
        font-size: 200%;
    }

    .nav-links-homepage p {
        font-size: 105%;
        font-style: normal;
        padding-top: 30px;
    }

    .timetable {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    

   
    .class-times {
        line-height: 30px;
        font-size: 110%;
        width: 25vw; 
        margin-left: 30px;
        margin-bottom: 40px;
    }



    #form-box {
        max-width: 50vw;
        left: 25%;
    }
    #form-box p {
        font-size: 110%
    }
}