body {
    min-height: 100%;
    margin: 0;
    font-family: sans-serif;
}

/* Header */
header {
    background-color: #043959;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px #032d46;

}

header a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    font-family: 'Raleway' sans-serif;
}


#logo {
    text-align: center;
    font-size: 200%;

}
/* Main Homepage */
#homepage {
    position: relative;
    min-height: 80vh;
    top: 10vh;
    left: 0;
    width: 100%;
}

#hero-image {
    background: url(../images/pexels-pixabay-247421.jpg) no-repeat center/cover;
    min-height: 80vh;
}
#homepage-boxes {
    position: relative;
    top: 8vh;
    bottom: 10vh;
    margin: 0 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

#homepage-boxes a {
    text-decoration: none;
}

.nav-links-homepage {
    background-color: rgb(4, 57, 89, 0.8);
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 90%;

}


footer {
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    position: fixed;

}

footer a {
    font-size: 105%;
    color: #043959;

}

#footer-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

/*CSS for screens over 768px*/
@media screen and (min-width: 768px) {

    body {
        letter-spacing: 2px;
    }

    header a {
        font-size: larger;
        font-stretch: extra-expanded;
        letter-spacing: 3px;
    }

    #homepage-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-links-homepage {
        height: 275px;
        width: 275px;
        margin-top: 50px;
        padding: 15px 30px;
    }

    .nav-links-homepage h2 {
        font-size: 200%;
    }

    .nav-links-homepage p {
        font-size: 105%;
        font-style: normal;
        padding-top: 30px;
    }
}